body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Ubuntu", sans-serif;
  width: 1366px;
  margin: 0 auto;
  background-image: url(../backround/Фон\ 1.png);
  background-size: cover;
}
header {
  position: relative;
  margin: 0 auto;
  width: 1366px;
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  padding-left: 79px;
  align-items: center;
}
.journey {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
}
.icons {
  display: inline-flex;
  gap: 27px;
  align-items: center;
  padding-left: 704px;
}
.line_header {
  position: absolute;
  width: 1px;
  height: 19px;
  left: 1075px;
  top: 20px;

  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.login_signin {
  display: inline-flex;
  align-items: center;
  padding-right: 20px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  gap: 3px;
}
.sgnpp {
    padding-right: 79px;
}
main {
  padding-top: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  position: relative;
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green_box {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 30px;

  background: #3cb878;
}
.signup_login_form {
  display: flex;
  padding-top: 31px;
  justify-content: space-between;
  padding-left: 43px;
  padding-right: 59px;
}
.login {
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.signup {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.socials {
  display: inline-flex;
  padding-left: 60px;
  padding-right: 60px;
  gap: 4px;
  padding-top: 15px;
}
.facebook {
  border-radius: 3px;
  width: 160px;
  height: 48px;
  background: #305db8;
  transition: 0.4s;
}
.google {
  border-radius: 3px;
  width: 160px;
  height: 48px;
  background: #df4a32;
  transition: 0.4s;
}
.form_main {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 61px;
}
.text_form {
  width: 322px;
  height: 44px;

  outline: none;
  border: none;
}
.div_form {
  width: 322px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  position: relative;
}
.txt_form {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
  width: 69px;
  height: 14px;
  left: 10px;
  top: 0px;
}
.relative {
  width: 322px;
  height: 44px;
  position: absolute;
  left: 19px;
  top: 15px;
}
.line1 {
  display: block;
  box-sizing: border-box;
  width: 152px;
  border-bottom: 1px solid #f2f2f2;
}
.or_SACTION {
  gap: 2px;
  padding-top: 31px;
  padding-left: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.or_txt {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  color: #848484;
}
.checkbox_div {
  padding-left: 62px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.create_account {
  text-decoration: none;
  display: flex;
}
.acc {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 99px;
}
input::placeholder {
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.terms_and_conditions {
  color: #3cb878;
  text-decoration: none;
}

.text_form:focus {
  color: #3cb878;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}
.terms_and_conditions:visited {
  text-decoration: underline;
}
.wrapper_fb {
  position: relative;
}
.logo_fb {
  position: absolute;
  top: 12px;
  left: 17px;
}
.facebook_text_logo {
  position: absolute;
  left: 33px;
  top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.rectangle {
  background: #0a162f;
}
.google_logo_svg {
  padding-top: 15px;
  padding-left: 12px;
}
.google {
  position: relative;
}
.google_txtlogo {
  position: absolute;
  top: 17px;
  left: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.rectangle {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 1px;
  height: 28px;
  color: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
}
hr {
  position: absolute;
  top: 5px;
  left: 9px;
  border: 0.5px solid black;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 28px;
  text-decoration: none;
  -webkit-transform: rotate(90deg);
}
svg:hover {
  fill: #3cb878;
}
.lgin {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.lgin:hover {
  color: #3cb878;
}
.sgnpp {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}
.sgnpp:hover {
  color: #3cb878;
}
.journey_link:hover {
  color: #3cb878;
}
.journey_link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}
.google:hover {
  background: #ab1f09;
}
.facebook:hover {
  background: #022263;
}
.path:hover {
    fill: #3cb878;
}
svg:hover path {
    fill: #3cb878;
}
svg path {
    transition: 0.4s;
}
.input_btn {
  cursor: pointer;
  position: absolute;
  top: 526px;
  left: 61px;
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
outline: none;
border: 0;
}
